<nav>
    <a href="/">Home</a>
    <a href="/new-post">New Post</a>
    <% if (user) { %>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    <% } %>
</nav>
