<% layout('layouts/biolerplate') %>
<% content %>
<h2>Your Posts</h2>
<% posts.forEach(post => { %>
    <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
    </div>
<% }) %>
<% endcontent %>
